.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* landing page styling */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Mulish:wght@300;400&display=swap');

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background-color: #3d6645;
  background-image: url("./assets/higherlowerbg3.png");
  background-size:cover;
  color: #011a32;
  font: 16px/1.25 "Raleway", sans-serif;
  text-align: center;
  overflow: hidden;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#bgTopRight{
  position: absolute;
  top: 0;
  right: 30px;
  height:80%;
  opacity:0.6;
}

#higher {
  animation: text-shadow-up 2s ease-in-out;
  animation-delay: 0.7s;
  color: #00ff2f;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
}
#lower {
  animation: text-shadow-down 2s ease-in-out;
  animation-delay: 1.2s;
  color: #ff8700;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
}

#spotify {
  color: #29cc47;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.3rem;
  position: absolute;
  bottom: -20px;
  left: 330px;
}

@keyframes text-shadow-up {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #00ffdc, 0 0 0 #00ff85, 0 0 0 #9cff00, 0 0 0 #31ff00;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #00ffdc, 0 0.25em 0 #00ff85, 0 -0.125em 0 #9cff00,
      0 -0.25em 0 #31ff00;
  }

  40% {
    transform: translateY(0.1em);
    text-shadow: 0 -0.0625em 0 #00ffdc, 0 -0.125em 0 #00ff85,
      0 0.0625em 0 #9cff00, 0 0.125em 0 #31ff00;
  }

  60% {
    transform: translateY(-0.3em);
    text-shadow: 0 0.03125em 0 #00ffdc, 0 0.0625em 0 #00ff85,
      0 -0.03125em 0 #9cff00, 0 -0.0625em 0 #31ff00;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #00ffdc, 0 0 0 #00ff85, 0 0 0 #9cff00, 0 0 0 #31ff00;
  }
}

@keyframes text-shadow-down {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #ff2f00, 0 0 0 #ffab00, 0 0 0 #ff5b00, 0 0 0 #ffca00;
  }

  20% {
    transform: translateY(1em);
    text-shadow: 0 0.125em 0 #ff2f00, 0 0.25em 0 #ffab00, 0 -0.125em 0 #ff5b00,
      0 -0.25em 0 #ffca00;
  }

  40% {
    transform: translateY(-0.1em);
    text-shadow: 0 -0.0625em 0 #ff2f00, 0 -0.125em 0 #ffab00,
      0 0.0625em 0 #ff5b00, 0 0.125em 0 #ffca00;
  }

  60% {
    transform: translateY(0.3em);
    text-shadow: 0 0.03125em 0 #ff2f00, 0 0.0625em 0 #ffab00,
      0 -0.03125em 0 #ff5b00, 0 -0.0625em 0 #ffca00;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #ff2f00, 0 0 0 #ffab00, 0 0 0 #ff5b00, 0 0 0 #ffca00;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* Game page styling */


.artisttext{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size:3rem;
  color:rgb(215, 215, 215);
}

.imagetext-1{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:90%;
  color:white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  text-shadow: 
        -1px -1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        1px 1px 0 black;
}

.imagetext-2, .imagetext-3{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:90%;
  color:white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  text-shadow: 
        -1px -1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        1px 1px 0 black;
}

img {
  filter: brightness(100%);
  transition: filter 1s;
}

img.dimmed {
  filter: brightness(40%);
}

.imagetext-1 {
  opacity: 0;
  transition: opacity 1s;
}

.imagetext-1.faded-in {
  opacity: 1;
}

.imagetext-2 {
  opacity: 0;
  transition: opacity 1s 1200ms;
}

.imagetext-2.faded-in {
  opacity: 1;
}

.imagetext-3{
  opacity: 0;
  transition: opacity 1s 200ms;
}

.imagetext-3.faded-in {
  opacity: 1;
}

.higher-button{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:35%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size:1rem;
  color:white;
  border-color:white;
  border-radius: 20px;
}
.higher-button:hover{
  background-color:#00FF2F;
  color:rgb(0, 0, 0);
}
.lower-button{
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:35%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size:1rem;
  color:white;
  border-color:white;
  border-radius: 20px;
}

.lower-button:hover{
  background-color:#FF8800;
  color:rgb(0, 0, 0);
}

.uniup{
  color:#00FF2F;
}

.higher-button:hover .uniup {
  color: white;
}

.unidown{
  color:#FF8800;
}

.lower-button:hover .unidown {
  color: white;
}