/* landing page styling */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Mulish:wght@300;400&display=swap");

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background-color: #3d6645;
  background-image: url("./assets/higherlowerbg3.png");
  background-size: cover;
  color: #011a32;
  font: 16px/1.25 "Raleway", sans-serif;
  text-align: center;
  overflow: hidden;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#bgTopRight {
  position: absolute;
  top: 0;
  right: 30px;
  height: 80%;
  opacity: 0.6;
}

#higher {
  animation: text-shadow-up 2s ease-in-out;
  animation-delay: 0.7s;
  color: #00ff2f;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
}

#lower {
  animation: text-shadow-down 2s ease-in-out;
  animation-delay: 1.2s;
  color: #ff8700;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
}

#spotify {
  color: #29cc47;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.3rem;
  position: absolute;
  bottom: -20px;
  left: 330px;
}

@keyframes text-shadow-up {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #00ffdc, 0 0 0 #00ff85, 0 0 0 #9cff00, 0 0 0 #31ff00;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #00ffdc, 0 0.25em 0 #00ff85, 0 -0.125em 0 #9cff00,
      0 -0.25em 0 #31ff00;
  }

  40% {
    transform: translateY(0.1em);
    text-shadow: 0 -0.0625em 0 #00ffdc, 0 -0.125em 0 #00ff85,
      0 0.0625em 0 #9cff00, 0 0.125em 0 #31ff00;
  }

  60% {
    transform: translateY(-0.3em);
    text-shadow: 0 0.03125em 0 #00ffdc, 0 0.0625em 0 #00ff85,
      0 -0.03125em 0 #9cff00, 0 -0.0625em 0 #31ff00;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #00ffdc, 0 0 0 #00ff85, 0 0 0 #9cff00, 0 0 0 #31ff00;
  }
}

@keyframes text-shadow-down {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #ff2f00, 0 0 0 #ffab00, 0 0 0 #ff5b00, 0 0 0 #ffca00;
  }

  20% {
    transform: translateY(1em);
    text-shadow: 0 0.125em 0 #ff2f00, 0 0.25em 0 #ffab00, 0 -0.125em 0 #ff5b00,
      0 -0.25em 0 #ffca00;
  }

  40% {
    transform: translateY(-0.1em);
    text-shadow: 0 -0.0625em 0 #ff2f00, 0 -0.125em 0 #ffab00,
      0 0.0625em 0 #ff5b00, 0 0.125em 0 #ffca00;
  }

  60% {
    transform: translateY(0.3em);
    text-shadow: 0 0.03125em 0 #ff2f00, 0 0.0625em 0 #ffab00,
      0 -0.03125em 0 #ff5b00, 0 -0.0625em 0 #ffca00;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #ff2f00, 0 0 0 #ffab00, 0 0 0 #ff5b00, 0 0 0 #ffca00;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* Game page styling */

.artisttext {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: rgb(215, 215, 215);
}

.imagetext-1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    1px 1px 0 black;
}

.imagetext-2,
.imagetext-3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    1px 1px 0 black;
}

img {
  filter: brightness(100%);
  transition: filter 1s;
}

img.dimmed {
  filter: brightness(40%);
}

.imagetext-1 {
  opacity: 0;
  transition: opacity 1s;
}

.imagetext-1.faded-in {
  opacity: 1;
}

.imagetext-2 {
  opacity: 0;
  transition: opacity 1s 1200ms;
}

.imagetext-2.faded-in {
  opacity: 1;
}

.imagetext-3 {
  opacity: 0;
  transition: opacity 1s 200ms;
}

.imagetext-3.faded-in {
  opacity: 1;
}

.higher-button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  border-color: white;
  border-radius: 20px;
}

.higher-button:hover {
  background-color: #00ff2f;
  color: rgb(0, 0, 0);
}

.lower-button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  border-color: white;
  border-radius: 20px;
}

.lower-button:hover {
  background-color: #ff8800;
  color: rgb(0, 0, 0);
}

.uniup {
  color: #00ff2f;
}

.higher-button:hover .uniup {
  color: white;
}

.unidown {
  color: #ff8800;
}

.lower-button:hover .unidown {
  color: white;
}

.score {
  position: absolute;
  top: 92%;
  left: 4%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.hiscore {
  position: absolute;
  top: 92%;
  right: 4%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.custom-modal {
  background-color: whitesmoke;
  border-color: #5c00ff;
  border-width: 5px;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.6);
}

.modal-close {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  border-color: #ff8800;
  border-radius: 5px;
}

.modal-close:hover {
  background-color: #ff8800;
  color: white;
}

.modal-playagain {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  border-color: #00ff2f;
  border-radius: 5px;
}

.modal-playagain:hover {
  background-color: #00ff2f;
  color: white;
}

.modal-leaderboard {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  border-color: #5c00ff;
  border-radius: 5px;
}

.modal-leaderboard:hover {
  background-color: #5c00ff;
  color: white;
}

/* Navbar styling */

.nav-item-styling {
  padding-right: 1rem;
  border-radius: 0px;
  font-family: "Raleway", sans-serif;
}

.nav-link-styling {
  padding-right: 1rem;
  border: none;
  border-radius: 0px;
}

/* leaderboard-styling */
.leaderboard-container {
  width: 30%;
  height: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-height: 70vh;
  overflow-y: auto;
}

.leaderboard-container::-webkit-scrollbar {
  display: none;
}


.leaderboard {
  background: linear-gradient(to bottom, #3a404d, #181c26);
}

.leaderboard-header-text {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 2.2rem;
  text-align: center;
}

.leaderboard ol {
  counter-reset: number;
}

.leaderboard li {
  padding: 16px;
  border-radius: 0px;
  display: flex;
}

.leaderboard li mark {
  flex-grow: 1;
  color: snow;
  background-color: transparent;
}

.leaderboard li:before {
  counter-increment: number;
  content: counter(number) ".";
  margin-right: 10px;
}

.leaderboard li:nth-child(1) {
  border-radius: 10px 10px 0px 0px;
  background: #00e62a;
}

.leaderboard li:nth-child(2) {
  background: #00991c;
}

.leaderboard li:nth-child(3) {
  background: #008018;
}

.leaderboard li:nth-child(4) {
  background: #006613;
}

.leaderboard li:nth-child(5) {
  background: #004c0e;
  border-radius: 0px 0px 10px 10px;
}

.leaderboard-body {
  color: snow;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  overflow-y: scroll;
}

.leaderboard-body::-webkit-scrollbar {
  width: 30px;
}